/*! CSS PROPERTIES */

:root {
    --color-dblue:#141922;
    --color-dgray: #282828;
    --color-white: #ffffff;
    --color-lgray: #8b8787;
    --color-gray: #686565;
    
    --main-title-font: 0.8rem;
    --song-title-font: 0.8rem;  /* titoli canzoni + profilo */
    --song-subtitle-font: 0.8rem;

    --player-height: 80px;
    --sidebar-width-s: 50px;
    --sidebar-width-l: 250px;


    --font-2xs: .6rem;
    --font-xs: .7rem;
    --font-s: .8rem;
    --font-m: 1rem;
    --font-ml: 1.2rem;
    --font-l: 1.5rem;
    --font-xl: 1.8rem;
    --font-2xl: 2.3rem;
    
    
    --spacing-xs: .5rem;
    --spacing-s: .8rem;
    --spacing-m: 1rem;
   }


@media screen and (min-width:650px) {
    
    #sidebar {
        flex-basis: 200px;
    }

    .display-none {
        display: block;
    }

    #logo-small {
        display: none;
    }

    .hidden {
        visibility: visible;
    }

    .instal-app img{
        margin-bottom: 0;
    }

    .instal-app {
        text-align:start;
        justify-content: flex-start;
        padding-left: 6px;
    }  

    .now-playing {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .now-playing h6 {
        padding-right: 5px;
    }
}

@media screen and (min-width:850px) {

    .now-playing-opt {
        flex-direction: row;
        gap: var(--spacing-s);
    }

    .player-right button {
        padding: 0 8px;
    }
}